{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "flowtype"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "flowtype/no-types-missing-file-annotation": 0,
    "jsx-a11y/href-no-hash": 0
  }
}
